!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Manifesto for Software Craftsmanship
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/vendor/jquery-1.8.2.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendor/underscore.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendor/yui-3.7.3.js", :type => "text/javascript"}
    %script{:src => "javascripts/setup.js", :type => "text/javascript"}
    %script{:src => "javascripts/partials.js", :type => "text/javascript"}
    %script{:src => "javascripts/transitions.js", :type => "text/javascript"}
    %script{:src => "javascripts/manifesto.js", :type => "text/javascript"}
    %script{:src => "javascripts/application.js", :type => "text/javascript"}
    %script#content-top-template{:type => "text/template"}
      = render "content_top"
    %script#manifesto-template{:type => "text/template"}
      = render "manifesto"
    %script#sign-template{:type => "text/template"}
      = render "sign"
    %script#confirmation-template{:type => "text/template"}
      = render "confirmation"
    %script#signature-errors{:type => "text/template"}
      = render "signature_errors"
    %script#signature-confirm{:type => "text/template"}
      = render "signature_confirm"
    %script#signature-remove{:type => "text/template"}
      = render "signature_remove"
    %script#footer-template{:type => "text/template"}
      = render "footer"
    %script#reading-template{:type => "text/template"}
      = render "reading"
    %script#message{:type => "text/template"}
      = render "message"
  %body
    .translations
      %a#tr{:href => "#/de", :style => "font-family: de;"} Deutsch
      |
      %a#en{:href => "#/en", :style => "font-family: en;"} English
      |
      %a#es{:href => "#/es", :style => "font-family: es;"} Español
      |
      %a#tr{:href => "#/tr", :style => "font-family: tr;"} Türkçe
      |
      %a#zh-cn{:href => "#/zh-cn", :style => "font-family: zh-cn;"} 简体中文
    #container
      #content_top.content_top-image
      #content
        #sign
        #reading
        #manifesto
        #message
        %table#signatory-table{"data-id" => "1"}
      #footer.footer-image
